# Disciplina: Inteligência Artificial

## Professor: Elcio Hideiti Shiguemori, e-mail: elciohs@gmail.com

## Data: 01/12/2018

# Primeira avaliação

In [1]:
import pandas as pd
import subprocess
import matplotlib.pyplot as plt
import time
import subprocess
from bibneural import normalizar, formatar, treinar, treina_melhor, normalizar_ativa, formatar_ativa, ativa, apresenta

# Primeiro passo: selecionar o diretório e planilha com dados dos imóveis

In [3]:
excel_f = r'x.xls'
df = pd.read_excel(excel_f)

# Planilha com os dados do treinamento

In [4]:
df

,area,no quartos,no suites,vagas garagem,condominio,iptu,piscina,area lazer,varanda,varanda gourmet,churrasqueira,salao de festas,frente,avenida,Valor
0,110,3,1,2,1500,1500,0,1,1,1,1,1,0,0,670000
1,101,3,1,2,1263,1800,0,0,0,0,0,1,0,0,890000
2,65,2,0,0,266,400,0,0,0,0,0,0,0,0,480000
3,82,2,0,0,897,600,0,0,0,0,0,0,0,0,650000
4,148,3,1,1,1225,1750,0,0,0,0,0,0,0,1,965000
5,78,2,0,0,400,500,0,0,0,0,0,0,0,0,450000
6,62,2,0,0,380,400,0,0,0,0,0,0,0,0,370000
7,112,3,1,1,700,1000,0,0,0,0,0,0,0,0,724000
8,139,3,1,2,1448,2000,0,0,0,0,0,0,0,0,1290000
9,139,3,2,2,1175,1900,0,1,1,1,1,1,0,0,2280000
10,90,2,0,1,850,800,0,0,0,0,0,0,0,0,570000
11,65,2,1,1,650,700,1,1,1,0,0,1,1,0,750000
12,115,2,0,1,1600,1900,0,0,0,0,0,0,0,0,800000
13,103,2,1,2,800,1000,0,0,0,0,0,0,0,0,685000

# Segundo Passo: inserir o diretório e planilha com exemplos de validação

In [ ]:
excel_v = r'x_valid.xls'
val = pd.read_excel(excel_v)
val

In [ ]:
dados_normaliza=df.append(val)

### normalização automática

In [ ]:
(minimo, maximo, df,val) = normalizar(dados_normaliza,df,val)

### formatação dos dados automática

In [ ]:
(ent, ent_val, sai, sai_val) = formatar(df, val)

# Terceiro Passo: definir parâmetros da Rede Neural Artificial

In [ ]:
(neuro)=treinar(ent, ent_val, sai, sai_val)

# Quarto Passo: Treinar a rede neural com a melhor configuração

In [ ]:
(neuro)=treina_melhor(ent, ent_val, sai, sai_val)

# Quarto passo: Avalia o bem

## Carrega planilha Excel contendo os dados a serem avaliados

In [ ]:
excel_f1 = r'x_gen.xls'

avalia = pd.read_excel(excel_f1)

avalia

In [ ]:
en_aval = avalia.columns[range(0, avalia.shape[1],1)]
saida_real=pd.DataFrame(avalia,columns=[en_aval[avalia.shape[1]-1]])
avalia=normalizar_ativa (avalia,minimo,maximo)
(ent_avalia, sai_avalia)=formatar_ativa(avalia)

In [ ]:
y2=ativa (avalia, ent_avalia, sai_avalia, neuro,minimo, maximo)

In [ ]:
en1 = avalia.columns[avalia.shape[1]-1]
saida_avalia=pd.DataFrame(avalia,columns=[en1])

In [ ]:
apresenta (y2,saida_real)